/* RESET STYLE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CLEARFIX */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* GLOBAL STYLES */

$headerLink: rgb(200,200,200);
$headerLinkHover: rgb(245,245,245);
$bodyLink: rgb(100,100,100);
$bodyLinkHover: rgb(55,55,55);
$blue: #4499ee;
$green: #9EBF5C;

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

html, body {
    width: 100%;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input, textarea {
    padding: .5em;
    display: block;
}

textarea {
    resize: vertical;
}

/* TYPOGRAPHY */

h1 {
    font: {
        weight: bold;
        size: 2em;
    }
}

h2 {
    font-size: 1.5em;
}

del {
    font-size: .9em;
    text-decoration: line-through;
    color: rgb(200, 50, 42);
}

em { font-style: italic; }

a {
    color: $headerLink;
    text-decoration: none;
}

a:hover { color: $headerLinkHover; }

/* HEADER */

header {
    h2 {
        font-size: 2em;
        display: inline;
    }
    input {
        width: 20em;
        display: inline;
        float: right;
    }
    nav {
        background: #333;
        color: #f5f5f5;
        border-bottom: 1px solid #111;
        padding: .5em;
        font-size: .9em;
        ul {
            float: left;
            li {
                display: inline;
                padding-right: 1em;
            } 
        }
        .add { float: right; }
    }
    #request-message {
        display: none;
        font: {
            size: .9em;
            weight: bold;
        }
        text-align: center;
        position: absolute;
        top: 1.3em;
        left: 50%;
        width: 25em;
        margin-left: -12em;
        padding: .5em;
    }

    .success { background: rgb(206,230,195); border: 1px solid rgb(53,149,69); color: rgba(27,141,68,0.7); }
    .warning { background: rgb(252,249,206); border: 1px solid rgb(223,223,222); color: rgba(52,51,49,0.7); }
    .error { background: rgb(246,203,202); border: 1px solid rgb(203,32,38); color: rgba(203,32,38,0.7); }
}

/* W[RAPPER] */

#jay-z {
    width: 50em;
    margin: 2em auto;
}

#content {
    margin: 2em 0 0;
    p {
        margin-bottom: .5em;
    }
}

/* CATEGORY */

#category, #search {
    width: 100%;
    .product-options {
        .filter {
            float: left;
        }
        .view {
            float: right;
        }
    }
}

#products-list {
    width: 100%;
    float: left;
    margin: 1em 0;
    display: block;
    em {
        font-size: .9em;
        color: rgb(150,150,150);
    }
    .products-list-item {
        width: 25%;
        display: inline-block;
        cursor: pointer;
        .product-image {
            text-align: center;
            margin: 1em auto .5em;
            img {
                width: 80%;
                height: 10em;
                border: 1px solid rgba(150,150,150,0.2);
            }
        }
        .product-name {
            display: block;
            text-align: center;
            font-size: 1em;
        }
        .price-group {
            text-align: center;
            margin: 0 0 1em;
            .product-price {
                display: inline-block;
                padding: .2em;
            }
            .product-sale-price {
                display: inline-block;
                padding: .2em;
            }
        }
    }
    .products-list-item:hover {
        background: rgba(150,150,150,0.1);
    }
}

/* PAGINATION */

div.product-pagination {
    clear: both;
    width: 50em;
    text-align: center;
}
ul#pagination {
    display: none;
    margin: 0 auto;
    background: #333;
    padding: .5em;
}
#pagination li {
    display: inline;
    
    text-align: center;
    a { padding: .5em; }
    .active {
        background: #f5f5f5;
        color: #333;
        padding: .3em .5em;
    }
}
li.pagItemInactive {
    color: $headerLink;
    padding: .5em;
}

/* SINGLE PRODUCT PAGE */

#product {
    
    #product-image {
        width: 10em;
        height: 20em;
        float: left;
        img {
            width: 10em;
            height: 10em;
            border: 1px solid rgba(150,150,150,0.2);
            display: inline-block;
        }
    }

    .product-info {
        float: left;
        width: 26em;
        padding: 0 3em;
    }

    #product-title {
        h2 {
            font-size: 2em;
            margin: 0 0 .5em;
        }
    }

    #product-colour {
        font-size: .9em;
        color: rgb(120,120,120);
        margin: 0 0 .3em;
    }
    #product-sku {
        font-size: .9em;
        color: rgb(120,120,120);
    }

    #product-price {
        margin: 1em 0;
        font-size: 1.2em;
    }

    #product-content {
        margin: 0 0 1.5em;
        width: 20em;
        h3 {
            margin: 0 0 .5em;
            font: {
                weight: bold;
                size: 1.2em;
            }
        }
    }
    
    #product-basket {
        float: right;
        background: rgba(150,150,150,0.1);
        padding: .5em;
        width: 14em;
        #product-sizes {
            display: table;
            padding: .5em 1em;
            width: 100%;
            li {
                display: table-row;
                .product-size-radio {
                    display: table-cell;
                    vertical-align: middle;
                    padding: .2em 0;
                }

                .size-radio-label {
                    display: table-cell;
                    vertical-align: middle;
                    em {
                        display: block;
                        font-size: .9em;
                    }
                }
            }
        }
    }
}



#products_list {
    display: table;
    color: #777;
    width: 100%;
    li {
        display: table-row;
        em {
            font-size: .9em;
        }
        .product-sku,
        .product-title,
        .product-value,
        .product-quantity,
        .product-post-status {
            display: table-cell;
            vertical-align: middle;
            padding: .5em;
        }
        .product-sku {
            width: 2.5em;
            text-align: center;
        }
        .product-quantity {
            width: 10em;
            .low {
                color: rgb(200, 50, 42);
            }
        }
        .product-post-status {
            width: 7em;
        }
    }
    .product-list:nth-child(odd) {
        background: rgba(240,240,240,1);
    }
    .thead:first-child {
        background: #333;
        color: #f5f5f5;
    }
    a { color: #555; }
    a:hover { color: #777; }
}


/* BASKET */
.basket-table {
    display: table;
    color: #777;
    width: 100%;
    li {
        display: table-row;
        em {
            font-size: .9em;
        }
        .sku,
        .name, 
        .size, 
        .quantity, 
        .price,
        .remove {
            display: table-cell;
            vertical-align: middle;
            padding: .5em;
        }
        .sku {
            width: 2.5em;
            text-align: center;
        }
        .size {
            width: 5em;
        }
        .quantity {
            width: 8em;
            text-align: center;
        }
        .price {
            width: 5em;
        }
        .remove {
            width: 4em;
        }
    }

    li.thead:first-child {
        background: #333;
        color: #f5f5f5;
    }

    li.tfoot {
        .price {
            padding: 1em .5em 0;
            width: 5em;
        }
    }

}





/************************
 ***** LOADER STYLE *****
 ************************/

@mixin opacityChange() {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    @include opacityChange();
}
@-moz-keyframes fadeIn { /* Firefox */
    @include opacityChange();
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    @include opacityChange();
}
@-o-keyframes fadeIn { /* Opera */
    @include opacityChange();
}
#loader-container {
    display: none;
    background: rgba(255,255,255,0.7);
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    animation: fadeIn 1s;
    -moz-animation: fadeIn 1s; /* Firefox */
    -webkit-animation: fadeIn 1s; /* Safari and Chrome */
    -o-animation: fadeIn 1s; /* Opera */
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.load-circle{
position:absolute;
background-color:#FFFFFF;
height:12px;
width:12px;
-moz-border-radius:6px;
-moz-animation-name:loadFade;
-moz-animation-duration:0.72s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:6px;
-webkit-animation-name:loadFade;
-webkit-animation-duration:0.72s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:6px;
-ms-animation-name:loadFade;
-ms-animation-duration:0.72s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:6px;
-o-animation-name:loadFade;
-o-animation-duration:0.72s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:6px;
animation-name:loadFade;
animation-duration:0.72s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#load-rotate-01{
left:0;
top:26px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#load-rotate-02{
left:8px;
top:8px;
-moz-animation-delay:0.81s;
-webkit-animation-delay:0.81s;
-ms-animation-delay:0.81s;
-o-animation-delay:0.81s;
animation-delay:0.81s;
}

#load-rotate-03{
left:26px;
top:0;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#load-rotate-04{
right:8px;
top:8px;
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-ms-animation-delay:0.63s;
-o-animation-delay:0.63s;
animation-delay:0.63s;
}

#load-rotate-05{
right:0;
top:26px;
-moz-animation-delay:0.54s;
-webkit-animation-delay:0.54s;
-ms-animation-delay:0.54s;
-o-animation-delay:0.54s;
animation-delay:0.54s;
}

#load-rotate-06{
right:8px;
bottom:8px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#load-rotate-07{
left:26px;
bottom:0;
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#load-rotate-08{
left:8px;
bottom:8px;
-moz-animation-delay:0.27s;
-webkit-animation-delay:0.27s;
-ms-animation-delay:0.27s;
-o-animation-delay:0.27s;
animation-delay:0.27s;
}

@-moz-keyframes loadFade{
    0% {
        background-color: #111111;
    }

    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes loadFade{
0%{
background-color:#111111}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes loadFade{
0%{
background-color:#111111}

100%{
background-color:#FFFFFF}

}

@-o-keyframes loadFade{
0%{
background-color:#111111}

100%{
background-color:#FFFFFF}

}

@keyframes loadFade{
0%{
background-color:#111111}

100%{
background-color:#FFFFFF}

}