<h2 id="title">Products</h2>
<div>
    <div class="list_options">
        <span class="view">VIEW: 
            <a href="" id="twenty">20</a> | 
            <a href="" id="all">ALL</a>
        </span>
    </div>
    <table>
        <thead>
            <tr>
                <td>SKU</td>
                <td>Title</td>
                <td>Price</td>
                <td>Stock</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody id="products_content">
        </tbody>
    </table>
    <ul id="pagination">
    </ul>
</div>