/* RESET STYLE */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

input, textarea {
  padding: .5em;
  display: block; }

textarea {
  resize: vertical; }

/* TYPOGRAPHY */
h1 {
  font-weight: bold;
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

del {
  text-decoration: line-through;
  color: #c8322a; }

em {
  font-style: italic; }

a {
  color: #c8c8c8;
  text-decoration: none; }

a:hover {
  color: whitesmoke; }

.note {
  font-size: .9em;
  color: rgba(150, 150, 150, 0.8); }

/* HEADER */
header nav {
  background: #333;
  color: #f5f5f5;
  border-bottom: 1px solid #111111;
  padding: .5em;
  font-size: .9em; }
  header nav ul {
    float: left; }
    header nav ul li {
      display: inline;
      padding-right: 1em; }
  header nav .add {
    float: right; }
header #request-message {
  display: none;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 1.3em;
  left: 50%;
  width: 25em;
  margin-left: -12em;
  padding: .5em; }
header .success {
  background: #cee6c3;
  border: 1px solid #359545;
  color: rgba(27, 141, 68, 0.7); }
header .warning {
  background: #fcf9ce;
  border: 1px solid #dfdfde;
  color: rgba(52, 51, 49, 0.7); }
header .error {
  background: #f6cbca;
  border: 1px solid #cb2026;
  color: rgba(203, 32, 38, 0.7); }

/* W[RAPPER] */
#jay-z {
  width: 50em;
  margin: 2em auto; }

#content h2 {
  margin-bottom: 1em; }
#content p {
  margin-bottom: .5em; }

/* PRODUCTS STYLE */
#products h2 {
  float: left; }
#products #add-product-section {
  color: #333;
  float: right;
  margin: 0.2em 0 0;
  padding: .2em; }
#products #add-product-section:hover {
  background: #333;
  color: #f5f5f5; }

.filter {
  float: left; }

.view {
  float: right; }

.filter, .view {
  font-size: .9em;
  margin: 0 0 0.3em; }
  .filter a, .view a {
    color: #333;
    padding: .2em; }
  .filter a:hover, .view a:hover {
    background: #333;
    color: #f5f5f5; }

#products_list {
  display: table;
  color: #777;
  width: 100%; }
  #products_list li {
    display: table-row; }
    #products_list li em {
      font-size: .9em; }
    #products_list li .product-sku,
    #products_list li .product-title,
    #products_list li .product-value,
    #products_list li .product-quantity,
    #products_list li .product-post-status {
      display: table-cell;
      vertical-align: middle;
      padding: .5em; }
    #products_list li .product-sku {
      width: 2.5em;
      text-align: center; }
    #products_list li .product-quantity {
      width: 10em; }
      #products_list li .product-quantity .low {
        color: #c8322a; }
    #products_list li .product-post-status {
      width: 7em; }
  #products_list .product-list:nth-child(odd) {
    background: #f0f0f0; }
  #products_list .thead:first-child {
    background: #333;
    color: #f5f5f5; }
  #products_list a {
    color: #555; }
  #products_list a:hover {
    color: #777; }

/* Categories */
#cat-fields {
  float: left;
  display: inline-block;
  width: 22em; }
  #cat-fields h3 {
    font-size: 1.3em;
    margin: 0 0 0.8em; }
  #cat-fields #cat-name {
    width: 100%;
    margin: 0 0 1em; }
  #cat-fields #cat-menu-order {
    width: 18em;
    float: left;
    margin: 0 0 0.3em; }
  #cat-fields #cat-status {
    width: 11em;
    margin: 0.4em 0 0;
    float: right; }
  #cat-fields #add-cat-button {
    display: block;
    float: right;
    margin: 1em 0 0; }
  #cat-fields a {
    font-size: .9em;
    padding: 0.3em 0.5em;
    background: #9ebf5c;
    color: rgba(250, 250, 250, 0.8); }
  #cat-fields a:hover {
    background: #7c9d3a;
    color: rgba(250, 250, 250, 0.8); }

.current-cats {
  float: right;
  display: inline-block;
  width: 25em;
  height: 30em;
  overflow: scroll; }

#category-list {
  display: table;
  background: rgba(150, 150, 150, 0.1);
  color: #777;
  width: 100%; }
  #category-list li {
    display: table-row; }
    #category-list li .category-id,
    #category-list li .category-name,
    #category-list li .category-menu-order,
    #category-list li .category-post-status {
      display: table-cell;
      vertical-align: middle;
      padding: .5em; }
    #category-list li .category-id {
      width: 2em;
      text-align: center; }
    #category-list li .category-post-status {
      width: 7em; }
  #category-list .thead:first-child {
    background: #333;
    color: #f5f5f5; }
  #category-list a {
    color: #555; }
  #category-list a:hover {
    color: #777; }

/* PAGINATION */
#pagination {
  margin: 0;
  text-align: center;
  background: #333;
  padding: .5em; }
  #pagination li {
    display: inline; }
    #pagination li a {
      padding: .5em; }
    #pagination li .active {
      background: #f5f5f5;
      color: #333;
      padding: 0.3em 0.5em; }
  #pagination .pagItemInactive {
    padding: .5em;
    color: #c8c8c8; }

/* SINGLE PRODUCT */
#fields {
  float: left;
  display: inline-block;
  width: 33em;
  margin: 0 0 1.5em;
  /* Products */ }
  #fields #single-title {
    width: 38em;
    margin: 0 0 1em; }
  #fields #single-content {
    width: 38em;
    height: 10em;
    margin: 0 0 1em; }
  #fields #single-price, #fields #single-sale {
    display: inline-block;
    width: 18em;
    margin: 0 0 1em; }
  #fields #single-price {
    margin-right: .6em; }
  #fields #single-colour {
    width: 16em;
    float: left;
    margin: 0 0 1em; }
  #fields .thumbnail-container {
    background: rgba(150, 150, 150, 0.1);
    border: 1px solid rgba(150, 150, 150, 0.2);
    margin: 0.1em 2em 0 0;
    padding: 0.5em 1em 0;
    width: 14em;
    float: right; }
    #fields .thumbnail-container #single-thumbnail {
      margin: 0 0 1em; }
    #fields .thumbnail-container #single-thumbnail-preview {
      border: 1px solid rgba(150, 150, 150, 0.2);
      width: 11.1em;
      float: left;
      margin: 0 0.4em 0.6em; }
      #fields .thumbnail-container #single-thumbnail-preview img {
        width: 100%; }

.single-product-options {
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(150, 150, 150, 0.2);
  width: 17em;
  float: right;
  margin: 0 0 1em;
  padding: .5em; }
  .single-product-options #single-status {
    display: inline;
    margin: 0.3em 0;
    width: 11em; }
  .single-product-options #add-product-button, .single-product-options #update-product-button {
    float: right; }
  .single-product-options a {
    font-size: .9em;
    padding: 0.3em 0.5em;
    background: #9ebf5c;
    color: rgba(250, 250, 250, 0.8); }
  .single-product-options a:hover {
    background: #7c9d3a;
    color: rgba(250, 250, 250, 0.8); }
  .single-product-options #date-posted {
    font-size: .9em;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0.5em 0 0; }

.single-products {
  position: relative;
  float: right;
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(150, 150, 150, 0.2);
  width: 17em;
  height: 15.3em; }
  .single-products #values-and-stocks {
    margin: 0 0 0.5em;
    float: right;
    display: inline;
    width: 17em;
    height: 13em;
    overflow: scroll; }
  .single-products .single-values {
    margin: 1em auto 0.5em;
    width: 18em; }
  .single-products .single-stocks {
    margin: 0 auto 0.5em;
    width: 18em; }
  .single-products .single-stocks:last-child {
    margin: 0 auto 1.5em; }
  .single-products #add-value-stock {
    float: right;
    padding: 0.3em 0.5em;
    position: absolute;
    bottom: .5em;
    right: .5em; }
  .single-products a {
    font-size: .9em;
    background: rgba(50, 50, 50, 0.7);
    color: rgba(250, 250, 250, 0.8); }
  .single-products a:hover {
    background: rgba(50, 50, 50, 0.5);
    color: rgba(255, 255, 255, 0.8); }

.product-category {
  float: left;
  width: 15em;
  height: 15em;
  overflow: scroll;
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(150, 150, 150, 0.2);
  padding: .5em; }
  .product-category h3 {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 0 0.2em;
    margin: 0.2em 0; }
  .product-category #single-category-list {
    display: table;
    width: 100%;
    color: rgba(0, 0, 0, 0.6); }
    .product-category #single-category-list li {
      display: table-row; }
      .product-category #single-category-list li .category_radio_div {
        display: table-cell;
        vertical-align: middle;
        width: 1.5em;
        padding: .2em; }
      .product-category #single-category-list li .category-menu-order {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 2em; }
      .product-category #single-category-list li .category-name {
        display: table-cell;
        vertical-align: middle; }

/* SINGLE PRODUCT VALIDATION MESSAGES */
#title-message, #content-message,
#price-message, #sale-message,
#stock-message, #category-message {
  font-size: .9em;
  font-style: italic;
  display: none;
  background: #333;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #111111;
  padding: 0.5em 0.5em 0;
  position: absolute; }

/* ORDERS PAGE */
#undispatched-orders {
  display: table;
  color: #777;
  width: 100%; }
  #undispatched-orders li {
    display: table-row; }
    #undispatched-orders li .order-id,
    #undispatched-orders li .customer-name,
    #undispatched-orders li .order-products,
    #undispatched-orders li .mark-dispatched {
      display: table-cell;
      vertical-align: middle;
      padding: .5em; }
    #undispatched-orders li .order-id {
      width: 2.5em;
      text-align: center; }
    #undispatched-orders li .customer-name {
      width: 10em; }
    #undispatched-orders li .mark-dispatched {
      width: 7em; }
  #undispatched-orders .product-list:nth-child(odd) {
    background: #f0f0f0; }
  #undispatched-orders .thead:first-child {
    background: #333;
    color: #f5f5f5; }
  #undispatched-orders a {
    color: #555; }
  #undispatched-orders a:hover {
    color: #777; }

/* SETTINGS PAGE STYLE */
#settings .site-information {
  margin: 0 0 2em; }
  #settings .site-information #site-name {
    margin: 1em 0; }
  #settings .site-information a {
    color: #FFFFFF;
    background: #9ebf5c;
    padding: 0.2em 0.3em; }
  #settings .site-information a:hover {
    background: #7c9d3a; }
#settings .thumbnail-container {
  width: 20em;
  margin: 0 0 2em; }
  #settings .thumbnail-container h3 {
    margin-bottom: .5em; }
  #settings .thumbnail-container img {
    width: 10em;
    border: 1px solid rgba(150, 150, 150, 0.2); }
#settings .danger-zone {
  width: 20em;
  border: 1px solid #e24444;
  padding: 0 0 1em; }
  #settings .danger-zone h3 {
    background: #e24444;
    color: #FFFFFF;
    padding: .5em;
    margin: 0 0 1em; }
  #settings .danger-zone a {
    padding: .5em;
    color: #FF0000; }
  #settings .danger-zone a:hover {
    color: #CC0000; }
  #settings .danger-zone a {
    margin-left: .5em;
    color: #FFFFFF;
    background: #e24444;
    padding: 0.2em 0.3em; }
  #settings .danger-zone a:hover {
    color: #FFFFFF;
    background: #b43731; }

/************************
 ***** LOADER STYLE *****
 ************************/
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  /* Firefox */
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  /* Opera */
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

#loader-container {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  /* Firefox */
  -webkit-animation: fadeIn 1s;
  /* Safari and Chrome */
  -o-animation: fadeIn 1s;
  /* Opera */ }

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); }

.load-circle {
  position: absolute;
  background-color: #FFFFFF;
  height: 12px;
  width: 12px;
  -moz-border-radius: 6px;
  -moz-animation-name: loadFade;
  -moz-animation-duration: 0.72s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 6px;
  -webkit-animation-name: loadFade;
  -webkit-animation-duration: 0.72s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 6px;
  -ms-animation-name: loadFade;
  -ms-animation-duration: 0.72s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 6px;
  -o-animation-name: loadFade;
  -o-animation-duration: 0.72s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 6px;
  animation-name: loadFade;
  animation-duration: 0.72s;
  animation-iteration-count: infinite;
  animation-direction: linear; }

#load-rotate-01 {
  left: 0;
  top: 26px;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s; }

#load-rotate-02 {
  left: 8px;
  top: 8px;
  -moz-animation-delay: 0.81s;
  -webkit-animation-delay: 0.81s;
  -ms-animation-delay: 0.81s;
  -o-animation-delay: 0.81s;
  animation-delay: 0.81s; }

#load-rotate-03 {
  left: 26px;
  top: 0;
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  -ms-animation-delay: 0.72s;
  -o-animation-delay: 0.72s;
  animation-delay: 0.72s; }

#load-rotate-04 {
  right: 8px;
  top: 8px;
  -moz-animation-delay: 0.63s;
  -webkit-animation-delay: 0.63s;
  -ms-animation-delay: 0.63s;
  -o-animation-delay: 0.63s;
  animation-delay: 0.63s; }

#load-rotate-05 {
  right: 0;
  top: 26px;
  -moz-animation-delay: 0.54s;
  -webkit-animation-delay: 0.54s;
  -ms-animation-delay: 0.54s;
  -o-animation-delay: 0.54s;
  animation-delay: 0.54s; }

#load-rotate-06 {
  right: 8px;
  bottom: 8px;
  -moz-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s; }

#load-rotate-07 {
  left: 26px;
  bottom: 0;
  -moz-animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  -ms-animation-delay: 0.36s;
  -o-animation-delay: 0.36s;
  animation-delay: 0.36s; }

#load-rotate-08 {
  left: 8px;
  bottom: 8px;
  -moz-animation-delay: 0.27s;
  -webkit-animation-delay: 0.27s;
  -ms-animation-delay: 0.27s;
  -o-animation-delay: 0.27s;
  animation-delay: 0.27s; }

@-moz-keyframes loadFade {
  0% {
    background-color: #111111; }

  100% {
    background-color: #FFFFFF; } }

@-webkit-keyframes loadFade {
  0% {
    background-color: #111111; }

  100% {
    background-color: #FFFFFF; } }

@-ms-keyframes loadFade {
  0% {
    background-color: #111111; }

  100% {
    background-color: #FFFFFF; } }

@-o-keyframes loadFade {
  0% {
    background-color: #111111; }

  100% {
    background-color: #FFFFFF; } }

@keyframes loadFade {
  0% {
    background-color: #111111; }

  100% {
    background-color: #FFFFFF; } }
